body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  height: 400px;
  margin-top: 60px;
  background-color: #444;
  /* border: 1px solid darkgray; */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 150px 150px 350px;
  grid-template-rows: repeat(8, 1fr);
}

.logo-container {
  background-color: aqua;
  border-top-left-radius: 10px;
  grid-area: 1 / 1 / 3 / 2;
  border: 1px solid black;
}

.artwork-container {
  background-color: blueviolet;
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  justify-content: end;
}

.artwork-container img {
  width: 100px;
}

.playlist-container {
  grid-area: 3 / 1 / 8 / 3;
  /* border: 1px solid darkgray; */
}

.playlist-header {
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-header div {
  /* height: 40px; */
  line-height: 40px;
}

/* .playlist-header button {
  border: none;
  margin-right: 25px;
  height: 24px;
  width: 24px;
  padding: 0;
} */

.insert-name {
  color: white;
  padding-left: 15px;
}

.insert-name form {
  display: flex;
  align-items: center;
}

.insert-name input {
  margin-left: 5px;
}

.add-new-playlist {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* .playlist-header img {
  background-color: rgb(125, 211, 109);
  border-radius: 50%;
  height: 24px;
  width: 24px;
} */

.cross {
  /* background-color: rgb(125, 211, 109); */
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: solid gray 1px;
}

.cross:hover {
  background-color: rgb(125, 211, 109);
  border: none;
}

.rotate-image-on {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  transform: rotate(45deg);
  background-color: rgb(222, 106, 106);
}

/* .playlist-header img:hover {
  height: 26px;
  width: 26px;
} */

.playlist-inventory {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 210px;
  /* width: 298px; */
  overflow: auto;
  overflow-x: hidden;
}

.playlist-inventory li {
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding-left: 15px;
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-inventory li:hover {
  opacity: 0.7;
}

.playlist-inventory li:nth-child(even) {
  background-color: #c6c6c6;
}

.playlist-delete-button {
  margin-right: 25px;
  border-radius: 50%;
  border: solid 1px gray;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
}

.playlist-delete-button:hover {
  background-color: red;
}

.current-track-container {
  /* background-color: aquamarine; */
  color: white;
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: space-between;
  border-left: solid #555 1px;
}

.select-playlist {
  width: 250px;
  height: 30px;
  position: absolute;
  margin: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  opacity: 0;
}

#select-playlist-id {
  background-color: yellow;
  opacity: 1;
  z-index: 11;
}

.select-playlist select {
  max-width: 50%;
}

.current-track {
  width: 250px;
  padding: 10px 0 0 10px;
  z-index: 10;
}

.current-track-name {
  font-size: 16px;
  height: 18px;
  font-weight: bold;
  overflow: hidden;
}

.current-track-artist {
  font-size: 14px;
  color: #999;
}

.add-to-playlist {
  height: 50px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  margin-right: 10px;
}

.add-to-favorite {
  /* height: 24px;
  width: 24px; */
  /* margin-left: 2px;
  margin-bottom: 4px; */
}

.star {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: solid gray 1px;
}

.star:hover {
  background-color: rgb(236, 236, 100);
  border: none;
}

/* .add-to-actual img {
  height: 24px;
  width: 24px;
} */

.songs-container {
  grid-area: 2 / 3 / 8 / 4;
  border-left: solid #555 1px;
}

.songs-list {
  width: 100%;
  height: 300px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

.songs-list li:nth-child(even) {
  background-color: #c6c6c6;
}

.songs {
  background-color: gainsboro;
  height: 40px;
  display: flex;
  align-items: center;
}

.songs:hover {
  opacity: 0.7;
}

.songs-id {
  width: 30px;
  text-align: center;
  margin-right: 5px;
  color: dimgray;
}

.songs-play {
  display: flex;
  width: 320px;
  height: 40px;
  align-items: center;
}

.songs-name {
  margin-right: auto;
}

.songs-duration {
  margin-right: 10px;
}

.songs-delete {
  border-radius: 50%;
  border: solid 1px gray;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
}

.songs-delete:hover {
  background-color: red;
}

.control-panel-container {
  background-color: #c8c8c8;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  border: solid #555 1px;
  grid-area: 8 / 1 / 9 / 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.control-panel-container img {
  height: 20px;
  width: 20px;
}

.play-pause-track {
  /* padding-top: 5px; */
  border: solid white 1px;
}

.play-pause-track:hover {
  border: solid black 1px;
  transition: 0.6s ease-out;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-container input {
  background-color: black;
}

/* .repeat-track-off img {
  height: 24px;
  width: 24px;
} */

.repeat-track-off {
  border: solid white 1px;
}

.repeat-track-off:hover {
  border: solid black 1px;
  transition: 0.6s ease-out;
}

.repeat-track-on {
  border: solid black 1px;
}

.random-track-off {
  border: solid white 1px;
}

.random-track-on {
  border: solid black 1px;
}

.random-track-off:hover {
  border: solid black 1px;
  transition: 0.6s ease-out;
}

/* .controls {
  background-color: white;
  width: 80px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-left: 15px;
}

.controls img {
  width: 15px;
  height: 15px;
} */
